body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  color: #ffffff;
  margin: auto;
  max-width: 38rem;
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
span {
  color: #f13838;
  font-size: 2rem;
}
p {
  font-size: 1.2rem;
  color: #949494;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.rolling-image {
  /* 2s total: quick spin, then float */
  animation: roll-then-pause 30s linear infinite;
  transform-origin: center center;
}

@keyframes roll-then-pause {
  0% {
    transform: rotate(360deg) translateX(-800px);
  }
  0.3% {
    /* finish the spin quickly */
    transform: rotate(360deg) translateX(1000px);
  }
  0.5% {
    /* finish the spin quickly */
    transform: rotate(360deg) translateX(0px);
  }

  50% {
    /* float up a bit */
    transform: rotate(360deg) translateX(-40px);
  }
  75% {
    /* float down a bit */
    transform: rotate(360deg) translateY(40px);
  }
  100% {
    /* back to center */
    transform: rotate(360deg) translateY(0);
  }
}
